
doctype html
html
  head
    title Bestellen
  body
    div(class='header')
      div(class='logo')
      

    div(class='content')
      form(method="POST")
        |Email:
        input(type="text" name="email" placeholder="sample@mail.de")
        br
        |Passwort:
				input(type="password" name="passwort")
				br
				input(type="submit" class='button' value="Anmelden")


