
doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Bestellen
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      div() 
        include header.pug
    div(class='content')
      form(action="/anmelden.js" method="POST" class="third card center")
        div(class="container")
          h2 Login
          br
          |Email:
          input(type="text" name="email" placeholder="sample@mail.de" required)
          br
          |Passwort:
          input(type="text" name="passwort" required)
          br
          br
          input(type="submit" class='button center blue' value="Anmelden")

          


