
doctype html
html
  head
    title Bestellen
    link(rel='stylesheet', href='style.css')
  body
    div(class='header')
      div(class='logo')
      

    div(class='content')
      form(method="POST" class="third card center")
        div(class="container")
          h2 Login
          br
          |Email:
          input(type="text" name="email" placeholder="sample@mail.de")
          br
          |Passwort:
          input(type="password" name="passwort")
          br
          br
          input(type="submit" class='button center blue' value="Anmelden")


