
doctype html
html
  head
    title Bestellung
    link(rel='stylesheet', href='style.css')
  body
    div(class='header')
      div(class='logo')
      

    div(class='content')
      | Bestellung
      
