
doctype html
html
  head
    title Bestelluebersicht
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      div() 
        include header.pug
      

    div(class='content container')
      h1 Bestellübersicht
      
      div(class='container')#kundendaten
        | #{kunde.vorname}

      div(class='container')#bestellung
        | #{bestid}
      
    button(class='button blue')    

      
