
doctype html
html
  head
    title Bestellung
    link(rel='stylesheet', href='css/style.css')
    script
      include ../scripts/client_script.js
      //oder Bantel Loesung: script(src="scripts/client_script.js")

  body(onload="init()")
    div(class='header')
      div() 
        include header.pug
      div(class='menu')
        //- evtl als Popup ?
        - var url_anmelden = "anmelden.js";
        a(href='/'+url_anmelden class='button') Anmelden
        
      

    div(class='content')
      div(class='container')
        |Basispizza:
        select(name='basispizza' onchange='updatePreSelection(this)')#basispizzaliste

      div
        div(class='twothird left container')
          //- Zutatenliste etc
          h3 Zutatenliste
          div(class='container')#tablecontainer
            // Tabelle einfügen
        
        div(class='third left container')
          //- Pizzaübersicht (Warenkorb)
          h3 Bestellung
          div(class='container')

      
