
doctype html
html
  head
    title Bestellung
    link(rel='stylesheet', href='css/style.css')
    script
      include ../scripts/client_script.js

    script
      include ../scripts/mqttws31.js

    script
      include ../scripts/mqtt-fetch.js
    
    script
      include ../scripts/mqtt_pizza.js
    
    
      //-oder Bantel Loesung: script(src="scripts/client_script.js")

  body(onload="init()")
    div(class='header')
      div() 
        include header.pug
      div(class='menu')
        //- evtl als Popup ?
        - var url_anmelden = "anmelden.js";
        a(href='/'+url_anmelden class='button') Anmelden
        
      

    div(class='content')
      div(class='container')
        |Basispizza:
        select(name='basispizza' onchange='updatePreSelection(this)')#basispizzaliste

      div
        div(class='twothird left')
          //- Zutatenliste etc
          h3 Zutatenliste
          div(class='container')#tablecontainer
            // Tabelle einfügen

          div(class='container')#pizzaauswahl
            p
              |Preis: 
              span#pizzapreis 5.00
              |€
            
            button(class='button blue' onclick='mqtt_sendr()' /* onclick='updateBestellListe()' */)#addPizzaButton Pizza hinzufügen
            input(type='text' class='third' value='Pizza1')#pizzaname
        
        div(class='third left')
          //- Pizzaübersicht (Warenkorb)
          h3 Bestellung
          div(class='container')#bestellliste
            span#mqttres x:

      
