
doctype html
html
  head
    title Bestellung
    link(rel='stylesheet', href='css/style.css')
    script
      include ../scripts/client_zutaten.js

    script
      include ../scripts/mqttws31.js

    script
      include ../scripts/mqtt-fetch.js
    
    script
      include ../scripts/mqtt_pizza.js
    
    script
      include ../scripts/js.cookie.js

    script
      include ../scripts/qrcode/jquery.min.js
      include ../scripts/qrcode/qrcode.js
    
      //-oder Bantel Loesung: script(src="scripts/client_script.js")

  body(onload="init()")
    div(class='header')
      div() 
        include header.pug
      div(class='menu')
        //- evtl als Popup ?
        - var url_anmelden = "anmelden.js";
        a(href='/'+url_anmelden class='button') Anmelden
        
      

    div(class='content')
      div(class='container')
        |Basispizza:
        select(name='basispizza' onchange='updatePreSelection(this)')#basispizzaliste

      div
        div(class='twothird left')
          //- Zutatenliste etc
          h3 Zutatenliste
          div(class='container')#tablecontainer
            // Tabelle einfügen

          div(class='container')#pizzaauswahl
            p
              |Preis: 
              span#pizzapreis 5.00
              |€
            
            button(class='button blue' /* onclick='mqtt_sendr()' /* onclick='updateBestellListe()' */)#addPizzaButton Pizza hinzufügen
            input(type='text' class='third' value='Pizza1')#pizzaname
        
        div(class='third left')
          //- Pizzaübersicht (Warenkorb)
          h3 Bestellung
          div(class='container')
            div(class='qrcode')#qrcode
            div(class='qrdescription')#qrdesc
              |Scanne den QR-Code um mit einem anderen Gerät Pizzen zur Bestellung hinzufügen zu können.

          div(class='container' style='max-width:300px')#bestellliste
            span#mqttres x:

          div(class='container')#preisuebersicht
            br
            hr
            p
              |Gesamt:
              span#gesbetrag
              |€

            form(action="/bestelluebersicht.js" method="POST")
              input(type="hidden" name="bestellid")#inpbestellid
              input(type="submit" class='button blue third' value="Bestellung abschließen")

            //-button(class='button blue')#bestellungabsenden Bestellung abschließen
          div(class='container')
            span#status status
            span#mqttres 

      
