  
doctype html
html
  body
    a(href="/node.js" style='display:block')
      div(class='headerbox')
        img(src='/images/Pizza_transp_2.png' class='logo')
        //- Manu war hier :P
        //-img(src='/img/pidser.jpg')
        span(class='brandname')
          |myPizza
    


