  
doctype html
html
  body
    div(class='logo left')
      img(src='../images/Pizza_transp.png')
      //-img(src=..images/Pizza_transp.png)
      img(src='/images/Pizza_transp.png')
      img(src='Pizza_transp.png')
      //- Manu war hier :P
      img(src='/img/pidser.jpg')


    div(class='brandname left')
      |myPizza
    


