  
doctype html
html
  body
    div(class='logo')
      img(src='/images/Pizza_transp.png')
      //- Manu war hier :P
      img(src='/img/pidser.jpg')


    div(class='brandname')
      |myPizza
    


