doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Impressum
    link(rel='stylesheet', href='css/style.css')
  body
    div(class='header')
      include header.pug
      include menu.pug
    div(class='content')
      | Ein Medieninformatik Projekt bei Prof. Dr. Bantel der HTW Aalen
      br
      br
      | Studenten:
      br
      | 79356 - Daniel Zahl
      br
      | 79358 - Manuel Neubauer
      br
      br
      | Website:
      br
      | Bestellportal für Pizzabäckerei
      br
      br
      | Funktionalitäten:
      br
      | node.js: Server als Backend
      br
      | pug template engine: Seitengestaltung + Modulares Menüband etc.
      br
      | mqtt: dynamische Anzeige der Pizzabestellungen
      br
      | mariadb: Datenbank für Kundendaten, Bestellungen, Pizzen und Zutaten
      br
      | nginx: Webserver mit fastcgi-weiterleitung, letsencrypt zertifikat für alexa als backend
      br
      | alexa: Bestellung per Amazon Alexa mit Sprachbefehlen
      br