
doctype html
html
  head
    title Pizzaladen
    link(rel='stylesheet', href='css/style.css')
    script
      include ../scripts/js.cookie.js
    script
      include ../scripts/cookies.js
    script
      include ../scripts/client_script.js 

  body(onload="anmeldestatus()")
    //-const tid = test_id;
    //-script.
      window.onload = function () {
        setCookies(test_id);
      }  

    div(class='header')
      include header.pug
      include menu.pug

    div(class='content')
      div(class='half left')
        div#pizza(class='container')
          h2 myPizza, der freundliche Pizzaladen in deiner Stadt!
          p
          | Wir verwenden nur beste Zutaten für unsere Pizzen!
        
      div(class='half left')
        div#alexa(class='container')
          h2 Bestelle auch mit Amazon Alexa!
          p 
          | Sag einfach "IBS Pizzabestellung" und es geht los ...



