
doctype html
html
  head
    title Pizzaladen
    link(rel='stylesheet', href='css/style.css')
    script
      include ../scripts/js.cookie.js
      include ../scripts/cookies.js 

  body
    script.
      var erg2 = test_id;
      setCookies(erg2);
    div(class='header')
      div(class='headerbox') 
        include header.pug
      div(class='menu')
        - var url_anmelden = "anmelden.js";
        a(href='/'+url_anmelden class='button') Anmelden
        |
        |
        - var url_registrieren = "registrieren.js";
        a(href='/'+url_registrieren class='button') Registrieren
        |
        |
        - var url_bestellen = "bestellen.js";
        a(href='/'+url_bestellen class='button') Bestellen
        |
        |
        div(class='right')
         |Hier sollte es landen!
         -var erg = test_id;
         output #{erg}
          

        //- Hier kommt das include script hin, damit geprüft wird,
        //- ob der user angemeldet ist

      


    div(class='content')
      div(class='half left')
        div#pizza(class='container')
          h2 myPizza, der freundliche Pizzaladen in deiner Stadt!
          p
          | Wir verwenden nur beste Zutaten für unsere Pizzen!
        
      div(class='half left')
        div#alexa(class='container')
          h2 Bestelle auch mit Amazon Alexa!
          p 
          | Sag einfach "IBS Pizzabestellung" und es geht los ...



