div(class='menu')
        - var url_anmelden = "anmelden.js";
        a(href='/'+url_anmelden class='button') Anmelden
        |
        |
        - var url_abmelden = "abmelden.js"
        a(href='/'+url_abmelden class='button') Abmelden
        |
        |
        - var url_registrieren = "registrieren.js";
        a(href='/'+url_registrieren class='button') Registrieren
        |
        |
        - var url_bestellen = "bestellen.js";
        a(href='/'+url_bestellen class='button') Bestellen
        |
        |
        div(class='right anmeldespan')
          span#anmeldestatus